<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
    <display-name>Spring Exception Handling</display-name>
<!--  http://docs.spring.io/spring-framework/docs/2.0.x/reference/mvc.html -->
    <servlet>
        <servlet-name>HelloWeb</servlet-name>
        <servlet-class>
           org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
       <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/HelloWebDhiraj-servlet.xml</param-value> <!--  here HelloWebDhiraj-servlet.xml 
			is webApplication context
			DispatcherServlet initialization parameters :
			a) namespace - the namespace of the WebApplicationContext. Defaults to [servlet-name]-servlet.
			b) contextClass - Class that implements WebApplicationContext, which will be used to instantiate the 
			context used by this servlet. If this parameter isn't specified, the XmlWebApplicationContext will
			 be used.
			 -->
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>HelloWeb</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
  
  <!-- contextConfigLocation is used for loding global applicationcontext.xml ie for all servelet init parameter
   -->
 <context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value> </param-value>
</context-param>

<listener>
   <listener-class>
      org.springframework.web.context.ContextLoaderListener
   </listener-class>
</listener> 
  
  
  
</web-app>